<ng-container *ngIf="walkingPeacefullyMode && !greet">
  <span>You walk over the plärrer happily. Suddenly, while you walk along the noisy road.. a wild pigeon appers!<br>What
    will you do?</span><br>
  <button mat-button (click)="equipAWeapon()">Equip a Weapon, just in case</button>
  <button mat-button (click)="giveBreadCrumbs()">Give bread crumbs</button>
  <app-inventory-bar></app-inventory-bar>
</ng-container>

<ng-container *ngIf="!walkingPeacefullyMode && !greet">
  <span>The pigeon comes running at you with spreaded wings!</span><br>
    <button mat-button (click)="attack()">Attack</button>
    <button mat-button (click)="giveBreadCrumbs()">Say hi</button>
    <app-inventory-bar></app-inventory-bar>
</ng-container>

<ng-container *ngIf="breadCrumbs">
  <span>The pigeon comes running at you with spreaded wings!</span><br>
</ng-container>