<div class="wrap-screen">
  <ng-container *ngIf="walkingPeacefullyMode && !greet">
    <div class="wrapper">
      <span>Suddenly, while you walk along a very noisy road cramped with cars.. a wild pigeon
        appears!<br>What will you do?</span>
    </div>
    <div class="wrapper">
      <button mat-flat-button color="accent" (click)="equipAWeapon()">Equip a Weapon (just in case)</button>
    </div>
    <div class="wrapper">
      <button mat-flat-button color="accent" (click)="giveBreadCrumbs()">Give Bread Crumbs</button>
    </div>
  </ng-container>

  <ng-container *ngIf="!walkingPeacefullyMode && !greet">
    <div class="wrapper">
      <span>The pigeon comes running at you with spreaded wings!</span>
    </div>
    <div class="wrapper">
      <button mat-flat-button color="accent" (click)="attack()">Attack</button>
    </div>
    <div class="wrapper">
      <button mat-flat-button color="accent" (click)="giveBreadCrumbs()">Say Hi</button>
    </div>
  </ng-container>

  <ng-container *ngIf="breadCrumbs">
    <div class="wrapper">
      <span>The pigeon comes running at you with spreaded wings!</span>
    </div>
  </ng-container>
</div>

<app-inventory-bar></app-inventory-bar>