<div class="wrapper" fxLayout="column" fxLayoutAlign="center center">

  <ng-container *ngIf="nameMode">
    <form>
      <div>
        <mat-form-field>
          <input type="string" matInput [formControl]="nameControl" placeholder="{{InputFormName}}">
          <mat-hint>Enter your name</mat-hint>
          <mat-error *ngIf="nameControl.invalid">{{nameErrorMessage}}</mat-error>
        </mat-form-field>
      </div>
      <div fxLayoutAlign="end end">
        <button mat-button (click)="onSubmitName()" color="primary" [disabled]="!nameControl.valid">SAVE</button>
      </div>
    </form>
  </ng-container>

  <ng-container *ngIf="chooseWeaponMode">
    <span>Welcome {{name}}! Which weapons would you like to take with you?</span>
    <form (ngSubmit)="onSubmitWeapon()" [formGroup]="weaponForm">
      <div>
        <mat-form-field>
          <input type="string" matInput formControlName="firstWeapon">
          <mat-hint>Enter a weapon</mat-hint>
          <mat-error *ngIf="weaponForm.invalid">{{weaponErrorMessage}}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input type="string" matInput formControlName="secondWeapon">
          <mat-hint>Enter a weapon</mat-hint>
          <mat-error *ngIf="weaponForm.invalid">{{weaponErrorMessage}}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input type="string" matInput formControlName="thirdWeapon">
          <mat-hint>Enter a weapon</mat-hint>
          <mat-error *ngIf="weaponForm.invalid">{{weaponErrorMessage}}</mat-error>
        </mat-form-field>
      </div>
      <div fxLayoutAlign="end end">
        <button mat-button type="submit" color="primary" [disabled]="!weaponForm.valid">SAVE</button>
      </div>
    </form>
    <div>Hint 38: Don't take a fork, it will{{hint38}}</div>
  </ng-container>

  <ng-container *ngIf="displayMode">
    <div fxLayout="column">
      <div>
        <span>{{name}}, your choice of weapons... well, no going back now!</span>
      </div>
      <div class="wrapper" fxLayoutAlign="end end">
        <button mat-flat-button color="accent" routerLink="/level1" routerLinkActive="active">Go to Level 1</button>
      </div>
    </div>
  </ng-container>

</div>