<h1 mat-dialog-title>Oh, it seems like your backpack is empty...</h1>

<div mat-dialog-content>
  <div fxLayoutAlign="end end">
    <button mat-flat-button color="accent" [mat-dialog-close]="true" (click)="onCloseDialog()">Go Back</button>
  </div>

  <div class="wrapper">
    <mat-checkbox (click)="checkedBox()">
      <span *ngIf="!isCheckedBox">Don't touch me!</span>
      <span *ngIf="isCheckedBox">mean. >:(</span>
    </mat-checkbox>
  </div>

</div>
<mat-divider></mat-divider>
<span><br>Hint -1: You never now what you will need in future events, but a fork is the exception.</span>